doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/dist/main.min.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/test.js')
  body
    block content
