extends ../layout

block content
  include ../component/header.jade
  include ../component/prodIntroSubNav.jade
  include ../component/lessonSubNav.jade
  include ../component/teamIntroSubNav.jade
  
  div.padding-block
  include ../component/landPageSlide.jade
  
  div.empty-content 暂时为空内容
  
  include ../component/footer.jade
