extends ../layout

block content
  h1= title
  p Welcome to #{title}
  div.tab-container
    div.tab-item 首页
    div.tab-item#introduce 产品介绍
    div.tab-item#lesson 产品教程
    div.tab-item 产品下载
    div.tab-item 团队介绍
    
  div.subNav#subNav-introduce
    p this is a introduce of meiyidian
    p this is just a demo
