extends ../layout

block content
  include ../component/header.jade
  include ../component/prodIntroSubNav.jade
  include ../component/lessonSubNav.jade
  include ../component/teamIntroSubNav.jade
  
  div.padding-block
  
  div.layout
    div.knowledge-body.clearfix
      div.sidebar-left
        div.side-item.active 栏目一
          div.arrow-r
        div.side-item 栏目二
          div.arrow-r
        div.side-item 栏目三
          div.arrow-r
        div.side-item 栏目四
          div.arrow-r
        div.side-item 栏目五
          div.arrow-r
            
      div.right-part
        div.knowledge-list-ctn
          div.knowledge-item 标题标题标题标题标题标题标题标题标题标标题标题标题标题
          div.knowledge-item 标题标题标题标题标题标题标题标题标题发生地方标题标题标题标
          div.knowledge-item 标题标题标题标题标题标题标题粉色的标题标题标题标题标题标题标
          div.knowledge-item 标题标法题标题标题标题标题标题标题标题标题标题标题标题标
          div.knowledge-item 标题标题标就好题标题标题标题标题标题标题标题标题标题标题标
          div.knowledge-item 标题标反对十分丰富题标题标题标题标题标题标题标题标题标题标题标题标
          div.knowledge-item 标题标题奋斗奋斗标福鼎市舒服舒服题标题标题标题标题标题标题标题标题标题标题标
          
          //- 分页器
          div.zh-page
            ul
            
  include ../component/footer.jade
  
  script.
    $.page({
      ele: '.zh-page ul',
      curPage: 1,
      visiblePages: 7,
      change: function(targetPage) {
        //- alert('targetPage is: ' + targetPage);
      },
      totalPages: 20
    });
