doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/dist/main.min.css')
      
  body
    div.somepage
      p somepage text
      p my name is longtao
      p a big fan of fedor
      p I work in shanghai, programming everyday
      p I enjoy martial arts, music, movie.
