extends ../layout

block content
  include ../component/header.jade
  include ../component/prodIntroSubNav.jade
  include ../component/lessonSubNav.jade
  include ../component/teamIntroSubNav.jade
  
  div.padding-block
  
  div.layout
    div.video-body.clearfix
      div.sidebar-left
        div.side-item.active 注册&登录
          div.arrow-r
        div.side-item 快餐模式
          div.arrow-r
        div.side-item 桌台模式
          div.arrow-r
            
      div.right-part
        div.tt 新手教程
        div.video-list-ctn
          div.video-item
            div.img-ctn
            div.video-desc 标题标题标题标题标题标题标题标题标题标标题标题标题标题
          div.video-item
            div.img-ctn
            div.video-desc 标题标题标题标题标题标题标题标题标题发生地方标题标题标题标
          div.video-item
            div.img-ctn
            div.video-desc 标题标题标题标题标题标题标题粉色的标题标题标题标题标题标题标
          div.video-item
            div.img-ctn
            div.video-desc 标题标法题标题标题标题标题标题标题标题标题标题标题标题标
          div.video-item
            div.img-ctn
            div.video-desc 标题标题标就好题标题标题标题标题标题标题标题标题标题标题标
          div.video-item
            div.img-ctn
            div.video-desc 标题标反对十分丰富题标题标题标题标题标题标题标题标题标题标题标题标
          div.video-item
            div.img-ctn
            div.video-desc 标题标题奋斗奋斗标福鼎市舒服舒服题标题标题标题标题标题标题标题标题标题标题标
            
  include ../component/footer.jade
