//- page footer part for common
div.m-footer#myd-footer
  div.layout
    ul.footer-ctn
      li
        div.about-us
          div.footer-tt 关于我们
          a(href='' class='footer-txt') 美味不用等官网
      li
        div.shop-center
          div.footer-tt 购买商城
          a(href='' class='footer-txt tianmao') 天猫官方商城
      li
        div.help-center
          div.footer-tt 帮助中心
          a(href='' class='footer-txt') 产品介绍
          a(href='' class='footer-txt') 常见问题
      li
        div.contact-us
          div.footer-tt 联系我们
          div.footer-txt
            span.span-l 电话：
            span.span-r 400 1234 4567
          div.footer-txt
            span.span-l 地址：
            span.span-r 上海市浦东新区祖冲之路899号88号楼3楼
          div.footer-txt
            span.span-l 邮编：
            span.span-r 200000
          div.footer-txt
            span.span-l 邮箱：
            span.span-r mwbyd@puscene.com
