//- land page slide part
div.banner
  ul
    li
      img(src='images/slide_1.png')
    li
      img(src='images/slide_2.png')
    li
      img(src='images/slide_3.png')
    li
      img(src='images/slide_4.png')
    li
      img(src='images/slide_5.png')
