//- land page slide part
div.banner
  ul
    li
      img(src='https://img1.mwee.cn/upload/20170926/59ca18442fe5d.jpg')
    li
      img(src='https://img1.mwee.cn/upload/20171010/59dc9a3084634.jpg')
    li
      img(src='https://img1.mwee.cn/upload/20170926/59ca16ff4aff1.jpg')
