/* reset */
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
  vertical-align: top;
}
input,
input:focus,
input:active,
input:hover,
button {
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  box-sizing: border-box;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
.subNav-intro {
  background: gray;
  width: 100%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.tab-container {
  width: 90%;
  height: 25px;
  overflow: scroll;
}
.tab-container .tab-item {
  width: 100px;
  height: 100%;
  background: beige;
  text-align: center;
  display: inline-block;
}
